.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  font-weight: 600;
  color: white;
  line-height: 1;
  white-space: nowrap;
  font-size: 370px;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 120px;
    bottom: 2rem;
    left: 1rem;
  }
}


